<%= link_to 'Postings', controller: 'articles' %>

<div class="main">
    
    <table>
        
        <tr class="">
            <td class="post_order"></td>
            <td class="post_view"></td>
            <td class="post_content">
                <img src="">
                <h2>
                     
                 </h2>
                <p></p>
            </td>

        </tr>

    </table>

</div>

<div class="right-column">
    
    <form action="">
      
        <input type="text" placeholder="Search.." name="search">
      
        <button type="submit"><i class="">Go</i></button>
    
    </form>

    <form>
        
        <input type="text" placeholder="Username" name="username">

        <input type="password" placeholder="Password" name="password">

    </form>

    <%= link_to 'New Post', new_article_path %>

</div>


